# Logs
*.log

# Java
*.class

*.jar
*.war
*.ear

.mtj.tmp/
hs_err_pid*

# Runtime data
*.pid
*.seed

# nbproject for netbeans
**/nbproject/

/node_modules

# for idea
**/.idea/
**/target/

# for visual studio
*.njsproj
**/.vs/
**/.ntvs_analysis.dat
**/obj/Debug

# public bower components
/public/assets/libs/bower_components/**

# public npm components
/public/assets/libs/npm_components/**

# Mac Folder Structure
**/.DS_Store

# Dont Ignore
!**/*.md